.main-row{
    padding-top: 35px;
    color: #686868
}

.hello{
    font-size: 150px;
    font-weight: 700;
    border-right:1px #999999 solid;
    font-family: Modern Era,sans-serif;
}


.hello-letters{
    padding:0 auto;
    margin: 0 auto;
    width:50px;
    height: 120px;
    padding-right: 150px

}

#he{
    
}

#ll{
 
}

#o{
 
}

.placeholderimage{
    padding-top:25px;
    height:600px;

}