.damianpascale{
    font-family: Georgia, serif;
    color: rgb(38, 38, 124);
    padding:20px;
    font-size: 60px;
    font-weight: 550px;

}

.header-row{
    background-color: rgba(220, 215, 250, 0.452);
}

