.nav-main{
    font-size: 18px;
    font-weight: 600;
    font-family: Modern Era,sans-serif;
    

}

.nav-main:link{
    text-decoration: underline solid 3px #6A42ED;
    color: #6A42ED;
}

.nav-bar{
    justify-content: center;
}

.link-nav{
    color:  #6A42ED;
}

a{
    color:  #6A42ED;
}

ul.nav li a, ul.nav li a:visited {
    color: #6437ac;
}

ul.nav li a:hover, ul.nav li a:active {
    color:#361836;
    text-decoration: underline 3px;
}

ul.nav li.active a {

}